 @import "communStyle.scss";
 
.card{ 
    background-color: rgba(0,0,0);
  opacity: 0.8;
&:hover{
    background-color: $colorThemeSemiTransparentCardHover;
    transform: scale(0.9);
    opacity: 1;
}}
.titleBlog{
    margin-left: -15px;
}

@media #{$small-down} {
#footerBlog{
    padding-left: 10px;
}
}